{% set host = salt['grains.filter_by']({
    'CentOS': {
        'pkgs': ['docker-io'],
        'service': 'docker',
    },
    'Debian': {
        'pkgs': ['docker.io'],
        'service': 'docker',
    },
    'RedHat': {
        'pkgs': ['iptables', 'lxc-docker'],
        'service': 'docker',
    },
}, merge=salt['grains.filter_by']({
    'trusty': {
        'pkgs': ['docker-engine'],
        'service': 'docker',
    },
    'xenial': {
        'pkgs': ['docker-engine', 'python-docker'],
        'service': 'docker',
    },
}, grain='oscodename', merge=salt['pillar.get']('docker:host'))) %}

{% set swarm = salt['grains.filter_by']({
    'default': {
        'master': {
            'port': 2377
        }
    }
}, grain='os', merge=salt['pillar.get']('docker:swarm')) %}


{% set client = salt['grains.filter_by']({
    'default': {
        'pkgs': ['python-docker'],
        'compose': {
          'base': '/etc/docker/compose',
          'source': {
            'engine': 'pkg',
            'pkgs': ['docker-compose'],
          },
        },
    },
}, merge=salt['grains.filter_by']({
    'trusty': {
        'compose': {
          'base': '/etc/docker/compose',
          'source': {
            'engine': 'pkg',
            'pkgs': ['docker-compose'],
          },
        },
    },
}, grain='oscodename', merge=salt['pillar.get']('docker:client'))) %}


{% set registry = salt['grains.filter_by']({
    'default': {
        'pkgs': ['docker-registry'],
        'service': 'docker-registry',
        'cache': {
            'engine': 'inmemory',
        },
        'storage': {
            'engine': 'filesystem',
            'root': '/var/lib/docker-registry',
        },
        'bind': {
            'host': '0.0.0.0',
            'port': 5000,
        },
    },
}, grain='os', merge=salt['pillar.get']('docker:registry')) %}
