
{% set host = salt['grains.filter_by']({
    'CentOS': {
        'pkgs': ['docker-io'],
        'service': 'docker'
    },
    'Debian': {
        'pkgs': ['docker.io'],
        'service': 'docker'
    },
    'RedHat': {
        'pkgs': ['iptables', 'lxc-docker'],
        'service': 'docker'
    },
    'Ubuntu': {
        'pkgs': ['docker-engine'],
        'service': 'docker'
    },
}, grain='os', merge=salt['pillar.get']('docker:host')) %}