Source: salt-formula-docker
Maintainer: Michael Kuty <michael.kuty@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-docker
Vcs-Git: https://github.com/tcpcloud/salt-formula-docker.git

Package: salt-formula-docker
Architecture: all
Depends: ${misc:Depends}
Description: docker salt formula
 Install and configure docker system.
